---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";

const companyMenu = {
    title: "Baja Tacos Menu.",
    description: "Hello world!",
    logo: "/profile.jpg",
    menu: {
        cat: [
            {
                name: "Entries",
                slug: "entries",
                description: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel ut laudantium inventore quisquam molestiae explicabo iure ea, animi distinctio magnam?",
                isFeatured: false,
                picture: "/tacos_bg.jpg",
                items: [
                    {
                        name: "Menu item 1",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquam doloribus.",
                        price: 10.0,
                    },
                    {
                        name: "Menu item 2",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquam doloribus.",
                        price: 16.0,
                        picture: "/quesadilla.jpg",
                    },
                    {
                        name: "Menu item 3",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquam doloribus.",
                        price: 12.0,
                    },
                    {
                        name: "Menu item 4",
                        description: "Sit amet consectetur adipisicing elit. Unde aliquam doloribus.",
                        price: 14.0,
                    },
                ],
            },
            {
                name: "Drinks",
                slug: "drinks",
                isFeatured: false,
                picture: "/drinks_bg.jpg",
                items: [
                    {
                        name: "Menu item 1",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquam doloribus.",
                        price: 16.0,
                    },
                    {
                        name: "Menu item 2",
                        description: "Sit amet consectetur adipisicing elit. Unde aliquam doloribus.",
                        price: 20.0,
                    },
                ],
            },
            {
                name: "Specials",
                slug: "specials",
                isFeatured: true,
                items: [
                    {
                        name: "Menu item 1",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquam doloribus.",
                        price: 16.0,
                    },
                    {
                        name: "Menu item 2",
                        description: "Sit amet consectetur adipisicing elit. Unde aliquam doloribus.",
                        price: 20.0,
                    },
                ],
            },
        ],
    },
};
---

<Layout
    title={companyMenu.title}
    description={companyMenu.description}
>
    <main>
        <Hero logo={companyMenu.logo} />
        <nav class="filter">
            <ul class="nav-filter">
                {
                    companyMenu.menu.cat.map((category, i) => (
                        <li class="nav-filter__item">
                            <a
                                href={`#${category.slug}`}
                                class:list={[{ featured: category.isFeatured }, { active: i == 0 }]}
                            >
                                {category.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <section class="menu">
            {
                companyMenu.menu.cat.map((category) => (
                    <div
                        class="menu-cat"
                        id={category.slug}
                    >
                        <h2>{category.name}</h2>
                        {category.description && <p>{category.description}</p>}
                        {category.picture && (
                            <picture>
                                <image
                                    src={category.picture}
                                    alt={`${category.name} Background`}
                                    class="menu-cat__image"
                                />
                            </picture>
                        )}

                        <ul
                            role="list"
                            class="cat-item-list"
                        >
                            {category.items.map((item) => (
                                <li class="cat-item">
                                    <div class="cat-item__info">
                                        <h4 class="cat-item__title">
                                            {item.name} <span class="cat-item__price">$ {item.price}</span>
                                        </h4>
                                        {item.description && <span class="cat-item__description">{item.description}</span>}
                                    </div>
                                    {item.picture && (
                                        <image
                                            src={item.picture}
                                            alt={`${item.name} Image`}
                                            class="cat-item__image"
                                        />
                                    )}
                                </li>
                            ))}
                        </ul>
                    </div>
                ))
            }
        </section>
        <p class="copy">By Auror Studio Inc</p>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 1199px;
        max-width: calc(100% - 2rem);
        color: rgb(var(--theme-dark));
        font-size: 20px;
        line-height: 1.6;
    }

    /* NAV */

    nav .nav-filter {
        display: flex;
        flex-flow: row wrap;
        gap: 0.8rem;
        list-style: none;
        justify-content: center;
        padding: 0.4rem 0;
        margin: 0;
    }

    nav .nav-filter .nav-filter__item a {
        display: block;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        color: rgb(var(--theme-dark));
        filter: opacity(0.6);
        padding: 0.3rem 0.6rem;
        border-radius: 0.4rem;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    nav .nav-filter .nav-filter__item:hover a {
        transform: translateY(-3px);
    }

    nav .nav-filter .nav-filter__item a.active {
        filter: opacity(1);
    }

    nav .nav-filter .nav-filter__item a.featured {
        filter: opacity(1);
        background-color: rgb(var(--theme-light));
    }

    nav .nav-filter .nav-filter__item a.featured.active,
    nav .nav-filter .nav-filter__item a.featured:hover {
        background-color: rgb(var(--theme-secondary));
    }

    /* MENU CAT */
    .menu-cat {
        display: flex;
        flex-flow: column;
        padding: 1rem;
    }
    .menu-cat > h2 {
        margin: 0;
    }
    .menu-cat > p {
        margin: 0 0 1.2rem;
    }
    .menu-cat__image {
        width: calc(100% + 2rem);
        aspect-ratio: 8/3;
        object-fit: cover;
        margin-inline: -1rem;
    }

    /* CAT ITEM LIST */
    .cat-item-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .cat-item-list li {
        display: flex;
        justify-content: space-between;
        padding-block: 0.8rem;
        font-size: 1rem;
        gap: 1rem;
    }

    .cat-item-list li:not(:last-child) {
        border-bottom: solid 1px rgb(var(--theme-light));
    }

    .cat-item-list .cat-item__title {
        margin: 0;
    }

    .cat-item-list .cat-item__price {
        color: rgb(var(--theme-accent));
        font-size: 0.9em;
    }

    .cat-item-list .cat-item__image {
        width: 35%;
        max-width: 220px;
        object-fit: cover;
        aspect-ratio: 1;
    }

    /* COPY */

    .copy {
        text-align: center;
        font-size: 0.9rem;
    }
</style>
