---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";

const companyMenu = {
    title: "Baja Tacos & Grill Menu.",
    description: "Hello world!",
    logo: "/profile.jpg",
    menu: {
        cat: [
            {
                name: "Asadero",
                slug: "asadero",
                // description: "Deleitate con los platillos que tenemos para servir desde nuestro asadero. Carne asada, pastor o pollo, tú eliges.",
                isFeatured: false,
                picture: "/asada_tacos.jpg",
                items: [
                    {
                        name: "Tacos",
                        price: 3.79,
                        picture: "/tacos_3-sq.jpg",
                    },
                    {
                        name: "Papa Asada c/carne",
                        price: 8.99,
                    },
                    {
                        name: "Quesadilla c/carne",
                        price: 4.75,
                        picture: "/quesadilla.jpg",
                    },
                    {
                        name: "Vampiro",
                        price: 4.75,
                    },
                    {
                        name: "Torta c/papas",
                        price: 11.99,
                    },
                ],
            },
            {
                name: "Birria",
                slug: "birria",
                isFeatured: false,
                picture: "/taco_birria.jpg",
                items: [
                    {
                        name: "3 St Tacos",
                        price: 9.99,
                    },
                    {
                        name: "Quesabirria",
                        price: 4.75,
                        picture: "/quesabirria-sq.jpg",
                    },
                    {
                        name: "Orden",
                        price: 14.99,
                    },
                    {
                        name: "½ Orden",
                        price: 12.99,
                    },
                ],
            },
            {
                name: "Samplers",
                slug: "samplers",
                isFeatured: false,
                picture: "/tacos_2.jpg",
                items: [
                    {
                        name: "6 St Tacos",
                        price: 16.95,
                        picture: "/tacos_2-sq.jpg",
                    },
                    {
                        name: "12 St Tacos",
                        price: 29.95,
                    },
                ],
            },
            {
                name: "Bebidas",
                slug: "bebidas",
                isFeatured: false,
                picture: "/drinks.jpg",
                items: [
                    {
                        name: "Aguas Frescas",
                        price: 3.95,
                        picture: "/beverages-sq.jpg",
                    },
                    {
                        name: "Soda Botella",
                        price: 3.75,
                    },
                    {
                        name: "Soda Fuente",
                        price: 3.75,
                    },
                    {
                        name: "Mimosa",
                        price: 8.5,
                    },
                    {
                        name: "Sangria",
                        price: 8.5,
                    },
                    {
                        name: "Cerveza Domestica",
                        price: 5.5,
                        picture: "/beer-sq.jpg",
                    },
                    {
                        name: "Cerveza Importada",
                        price: 6.5,
                    },
                    {
                        name: "Chabela",
                        price: 7.95,
                    },
                    {
                        name: "Vaso Michelado/Cubano",
                        price: 1.5,
                    },
                ],
            },
            {
                name: "Appetizers",
                slug: "appetizers",
                isFeatured: true,
                picture: "/nachos_meat.jpg",
                items: [
                    {
                        name: "Queso Fundido",
                        price: 13.99,
                    },
                    {
                        name: "Nachos c/carne",
                        price: 13.5,
                        picture: "/nachos-sq.jpg",
                    },
                    {
                        name: "Carne asada fries",
                        price: 13.5,
                    },
                    {
                        name: "Guacamole",
                        price: 9.99,
                    },
                ],
            },
        ],
    },
};
---

<Layout title={companyMenu.title} description={companyMenu.description}>
    <main>
        <Hero logo={companyMenu.logo} />
        <nav class="filter">
            <ul class="nav-filter">
                {
                    companyMenu.menu.cat.map((category, i) => (
                        <li class="nav-filter__item">
                            <a href={`#${category.slug}`} class:list={[{ featured: category.isFeatured }, { active: i == 0 }]}>
                                {category.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <section class="menu">
            {
                companyMenu.menu.cat.map((category) => (
                    <div class="menu-cat" id={category.slug}>
                        <h2>{category.name}</h2>
                        {category.description && <p>{category.description}</p>}
                        {category.picture && (
                            <picture>
                                <image src={category.picture} alt={`${category.name} Background`} class="menu-cat__image" />
                            </picture>
                        )}

                        <ul role="list" class="cat-item-list">
                            {category.items.map((item) => (
                                <li class="cat-item">
                                    <div class="cat-item__info">
                                        <h4 class="cat-item__title">
                                            {item.name} <span class="cat-item__price">${item.price}</span>
                                        </h4>
                                        {item.description && <span class="cat-item__description">{item.description}</span>}
                                    </div>
                                    {item.picture && <image src={item.picture} alt={`${item.name} Image`} class="cat-item__image" />}
                                </li>
                            ))}
                        </ul>
                    </div>
                ))
            }
        </section>
        <hr />
        <p class="copy">
            <span>By:</span>
            <a href="https://goo.gl/maps/MGQWBQQNXDZJdSqL6" target="_blank">
                <svg width="64" height="54" viewBox="0 0 640 549" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <title>Auror Studio Inc</title>
                    <path d="M26.7639 465.182H64.5392L45.728 417.313L26.7639 465.182ZM91.303 503.416H79.6799L68.5155 475.122H22.7875L11.6232 503.416H0L45.728 392.231L91.303 503.416Z" fill="#1A1A1A"></path>
                    <path d="M220.869 469.005C220.869 480.322 217.198 489.193 209.857 495.616C202.822 501.733 193.646 504.792 182.176 504.792C170.553 504.792 161.224 501.733 154.342 495.616C147.001 489.193 143.33 480.322 143.33 469.005V399.419H154.036V470.534C154.036 478.487 156.788 484.452 162.447 488.581C167.341 492.251 173.917 494.087 182.176 494.087C194.87 494.087 203.434 489.804 207.869 481.24C209.399 478.334 210.163 474.817 210.163 470.534V399.419H220.869V469.005Z" fill="#1A1A1A"></path>
                    <path d="M293.506 452.029H317.67C323.635 452.029 328.529 450.041 332.505 445.912C336.482 441.782 338.47 436.735 338.47 430.618C338.47 424.501 336.482 419.607 332.811 415.63C328.988 411.654 323.941 409.666 317.67 409.666H293.506V452.029ZM349.175 430.771C349.175 439.947 345.811 447.594 339.387 453.558C333.729 458.911 326.847 461.817 318.741 462.276L350.858 503.416H336.482L305.894 462.276H293.506V503.416H282.801V399.419H316.141C325.317 399.419 333.117 402.478 339.387 408.289C345.811 414.254 349.175 421.901 349.175 430.771Z" fill="#1A1A1A"></path>
                    <path d="M498.892 451.111C498.892 439.488 494.61 429.395 486.351 420.983C477.939 412.724 467.846 408.442 456.069 408.442C444.293 408.442 434.2 412.724 425.941 420.983C417.53 429.395 413.4 439.488 413.4 451.111C413.4 463.041 417.53 473.134 425.941 481.393C434.2 489.804 444.293 493.934 456.069 493.934C467.846 493.934 477.939 489.804 486.351 481.393C494.61 473.134 498.892 463.041 498.892 451.111ZM509.597 451.111C509.597 458.452 508.068 465.488 505.315 471.911C502.562 478.487 498.739 484.146 493.845 489.04C488.951 493.934 483.292 497.757 476.869 500.51C470.293 503.263 463.41 504.639 456.069 504.639C448.729 504.639 441.693 503.263 435.27 500.51C428.847 497.757 423.188 493.934 418.294 489.04C413.4 484.146 409.577 478.487 406.824 471.911C404.071 465.488 402.695 458.452 402.695 451.111C402.695 443.771 404.071 436.888 406.824 430.312C409.577 423.889 413.4 418.23 418.294 413.336C423.188 408.595 428.847 404.772 435.27 402.019C441.693 399.266 448.729 397.737 456.069 397.737C463.41 397.737 470.293 399.266 476.869 402.019C483.292 404.772 488.951 408.595 493.845 413.336C498.739 418.23 502.562 423.889 505.315 430.312C508.068 436.888 509.597 443.771 509.597 451.111Z" fill="#1A1A1A"></path>
                    <path d="M579.958 452.029H604.122C610.086 452.029 614.98 450.041 618.956 445.912C622.933 441.782 624.921 436.735 624.921 430.618C624.921 424.501 622.933 419.607 619.262 415.63C615.439 411.654 610.392 409.666 604.122 409.666H579.958V452.029ZM635.626 430.771C635.626 439.947 632.262 447.594 625.838 453.558C620.18 458.911 613.298 461.817 605.192 462.276L637.309 503.416H622.933L592.345 462.276H579.958V503.416H569.252V399.419H602.592C611.768 399.419 619.568 402.478 625.838 408.289C632.262 414.254 635.626 421.901 635.626 430.771Z" fill="#1A1A1A"></path>
                    <path d="M416.321 548.277C414.622 548.277 412.997 548.022 411.446 547.512C409.895 546.981 408.674 546.301 407.782 545.473L408.961 542.988C409.81 543.731 410.894 544.347 412.211 544.836C413.528 545.324 414.898 545.569 416.321 545.569C417.617 545.569 418.668 545.42 419.475 545.123C420.282 544.825 420.877 544.422 421.259 543.912C421.642 543.381 421.833 542.786 421.833 542.128C421.833 541.363 421.578 540.747 421.068 540.28C420.58 539.812 419.932 539.441 419.125 539.164C418.339 538.867 417.468 538.612 416.512 538.4C415.556 538.187 414.59 537.943 413.613 537.667C412.657 537.37 411.775 536.998 410.968 536.552C410.182 536.106 409.545 535.511 409.056 534.767C408.568 534.003 408.324 533.026 408.324 531.836C408.324 530.689 408.621 529.638 409.216 528.682C409.832 527.705 410.766 526.93 412.019 526.356C413.294 525.761 414.908 525.464 416.862 525.464C418.158 525.464 419.443 525.634 420.718 525.974C421.992 526.314 423.097 526.802 424.031 527.439L422.98 529.988C422.024 529.351 421.015 528.894 419.953 528.618C418.891 528.321 417.861 528.172 416.862 528.172C415.609 528.172 414.579 528.331 413.772 528.65C412.965 528.969 412.37 529.393 411.988 529.925C411.627 530.456 411.446 531.05 411.446 531.709C411.446 532.495 411.69 533.121 412.179 533.589C412.689 534.056 413.336 534.428 414.122 534.704C414.93 534.98 415.811 535.235 416.767 535.468C417.723 535.681 418.679 535.925 419.634 536.201C420.612 536.477 421.493 536.839 422.279 537.285C423.086 537.731 423.734 538.325 424.223 539.069C424.711 539.812 424.955 540.768 424.955 541.936C424.955 543.062 424.647 544.114 424.031 545.091C423.415 546.047 422.46 546.822 421.164 547.417C419.889 547.99 418.275 548.277 416.321 548.277Z" fill="#1A1A1A"></path>
                    <path d="M455.553 548.022V528.491H447.906V525.719H466.354V528.491H458.707V548.022H455.553Z" fill="#1A1A1A"></path>
                    <path d="M500.485 548.277C497.554 548.277 495.249 547.438 493.571 545.76C491.893 544.082 491.054 541.628 491.054 538.4V525.719H494.24V538.272C494.24 540.758 494.782 542.574 495.865 543.721C496.97 544.868 498.52 545.441 500.517 545.441C502.535 545.441 504.085 544.868 505.169 543.721C506.273 542.574 506.826 540.758 506.826 538.272V525.719H509.916V538.4C509.916 541.628 509.077 544.082 507.399 545.76C505.742 547.438 503.438 548.277 500.485 548.277Z" fill="#1A1A1A"></path>
                    <path d="M538.274 548.022V525.719H547.673C550.052 525.719 552.144 526.186 553.95 527.121C555.776 528.055 557.189 529.362 558.187 531.04C559.207 532.718 559.717 534.661 559.717 536.87C559.717 539.079 559.207 541.023 558.187 542.701C557.189 544.379 555.776 545.685 553.95 546.62C552.144 547.555 550.052 548.022 547.673 548.022H538.274ZM541.46 545.25H547.482C549.33 545.25 550.923 544.9 552.261 544.199C553.62 543.498 554.672 542.521 555.415 541.267C556.159 539.993 556.53 538.527 556.53 536.87C556.53 535.192 556.159 533.727 555.415 532.473C554.672 531.22 553.62 530.243 552.261 529.542C550.923 528.841 549.33 528.491 547.482 528.491H541.46V545.25Z" fill="#1A1A1A"></path>
                    <path d="M586.422 548.022V525.719H589.608V548.022H586.422Z" fill="#1A1A1A"></path>
                    <path d="M628.179 548.277C626.48 548.277 624.898 547.99 623.432 547.417C621.987 546.843 620.734 546.047 619.672 545.027C618.61 543.986 617.782 542.775 617.187 541.395C616.592 540.014 616.295 538.506 616.295 536.87C616.295 535.235 616.592 533.727 617.187 532.346C617.782 530.965 618.61 529.765 619.672 528.746C620.734 527.705 621.987 526.898 623.432 526.324C624.876 525.751 626.459 525.464 628.179 525.464C629.879 525.464 631.44 525.751 632.863 526.324C634.307 526.876 635.561 527.673 636.623 528.714C637.706 529.733 638.534 530.933 639.108 532.314C639.703 533.695 640 535.214 640 536.87C640 538.527 639.703 540.046 639.108 541.427C638.534 542.807 637.706 544.018 636.623 545.059C635.561 546.078 634.307 546.875 632.863 547.448C631.44 548.001 629.879 548.277 628.179 548.277ZM628.179 545.441C629.411 545.441 630.548 545.229 631.588 544.804C632.651 544.379 633.564 543.784 634.329 543.02C635.115 542.234 635.72 541.32 636.145 540.28C636.591 539.239 636.814 538.102 636.814 536.87C636.814 535.638 636.591 534.502 636.145 533.461C635.72 532.42 635.115 531.518 634.329 530.753C633.564 529.967 632.651 529.362 631.588 528.937C630.548 528.512 629.411 528.3 628.179 528.3C626.926 528.3 625.768 528.512 624.706 528.937C623.666 529.362 622.752 529.967 621.966 530.753C621.18 531.518 620.564 532.42 620.118 533.461C619.693 534.502 619.481 535.638 619.481 536.87C619.481 538.102 619.693 539.239 620.118 540.28C620.564 541.32 621.18 542.234 621.966 543.02C622.752 543.784 623.666 544.379 624.706 544.804C625.768 545.229 626.926 545.441 628.179 545.441Z" fill="#1A1A1A"></path>
                    <path d="M201.832 0L126.957 176.833L338.838 127.447L201.832 0Z" fill="#1A1A1A"></path>
                    <path d="M55.2682 353.665L111.026 221.439L372.293 160.902L577.801 353.665H55.2682Z" fill="#1A1A1A"></path>
                </svg>
            </a>
        </p>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 1199px;
        max-width: calc(100% - 2rem);
        color: rgb(var(--theme-dark));
        font-size: 20px;
        line-height: 1.6;
    }

    hr {
        border-top: none;
        border-bottom: solid 1px;
        border-color: #f6f6f6;
        margin-block: 1.5rem 2rem;
    }

    /* NAV */

    nav.filter {
        position: sticky;
        top: 0;
        background: linear-gradient(#ffffffee, #ffffff66);
        backdrop-filter: blur(6px);
        padding-block: 0.4rem;
    }
    nav.filter::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(#ffffff05, #ffffff33);
    }

    nav .nav-filter {
        display: flex;
        flex-flow: row wrap;
        gap: 0.8rem;
        list-style: none;
        justify-content: center;
        padding: 0.4rem 0;
        margin: 0;
    }

    nav .nav-filter .nav-filter__item a {
        display: block;
        text-decoration: none;
        font-size: 0.85rem;
        font-weight: 700;
        color: rgb(var(--theme-dark));
        filter: opacity(0.6);
        padding: 0.3rem 0.6rem;
        border-radius: 0.4rem;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    nav .nav-filter .nav-filter__item:hover a {
        transform: translateY(-3px);
    }

    nav .nav-filter .nav-filter__item a:focus,
    nav .nav-filter .nav-filter__item a:target,
    nav .nav-filter .nav-filter__item a:hover {
        filter: opacity(1);
    }

    nav .nav-filter .nav-filter__item a.featured {
        filter: opacity(1);
        background-color: rgb(var(--theme-light));
    }

    nav .nav-filter .nav-filter__item a.featured.active,
    nav .nav-filter .nav-filter__item a.featured:hover {
        background-color: rgb(var(--theme-secondary));
    }

    /* MENU CAT */
    .menu-cat {
        display: flex;
        flex-flow: column;
        padding: 1rem;
    }
    .menu-cat > h2 {
        margin: 0;
    }
    .menu-cat > p {
        margin: 0 0 1.2rem;
    }
    .menu-cat__image {
        width: calc(100% + 2rem);
        aspect-ratio: 8/3;
        object-fit: cover;
        margin-inline: -1rem;
    }

    /* CAT ITEM LIST */
    .cat-item-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .cat-item-list li {
        display: flex;
        justify-content: space-between;
        padding-block: 0.8rem;
        font-size: 1rem;
        gap: 1rem;
    }

    .cat-item-list li:not(:last-child) {
        border-bottom: solid 1px rgb(var(--theme-light));
    }

    .cat-item-list .cat-item__title {
        margin: 0;
        overflow-wrap: break-word;
    }

    .cat-item-list .cat-item__price {
        color: rgb(var(--theme-accent));
        font-size: 0.9em;
    }

    .cat-item-list .cat-item__image {
        width: 30%;
        max-width: 220px;
        object-fit: cover;
        aspect-ratio: 1;
    }

    /* COPY */

    .copy {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        gap: 0.4rem;
        font-size: 0.9rem;
    }
</style>
